<ng-container *ngIf="{
    showIconOnlyInGlobalLoader:uiQuery.showIconOnlyInGlobalLoader$ | async,
    isGlobalLoaderVisible:uiQuery.isGlobalLoaderVisible$ | async,
    globalLoaderText:uiQuery.globalLoaderText$ |async
  } as LoaderData">
  <dx-load-panel #loadPanel id="globalLoader" [height]="'auto'" [message]="LoaderData.globalLoaderText"
    [visible]="LoaderData.isGlobalLoaderVisible" showIndicator="true"
    indicatorSrc="../../../assets/img/ca_loader_optimized.gif" showPane="true" shading="true"
    shadingColor="rgba(0,0,0,0.4)" [closeOnOutsideClick]="false">
  </dx-load-panel>
</ng-container>