<dx-popup [width]="700" [height]="'auto'" [showTitle]="true" [title]="'FormIsNotCompleteTitle'|transloco"
    [dragEnabled]="false" [closeOnOutsideClick]="showConsoleButton?false:true"
    [showCloseButton]="showConsoleButton?false:true" [visible]="showPopup">
    <div class="row px-4 pb-4">
        <h5 class="client-selection-text">{{'FormIsNotCompleteMessage'|transloco}}</h5>
    </div>
    <div class="row px-4 pb-2 d-flex justify-content-center">
        <dx-button *ngIf="showConsoleButton" class="mr-2" [icon]="'arrowleft'" [text]="'Back' | transloco"
            type="normal" stylingMode="contained" (onClick)="startRedirectionToHomepage()">
        </dx-button>
        <dx-button [icon]="'fields'" [text]="'LetsAddSomeField' | transloco" type="success" stylingMode="contained"
            (onClick)="startRedirectionToDesignApp()">
        </dx-button>
    </div>
</dx-popup>