<content-loader [viewBox]="viewBox" [speed]="speed" [backgroundColor]="backgroundColor"
    [foregroundColor]="foregroundColor" *ngIf="svgFile === svgContentLoaderEnum.DetailsContentLoader">
    <svg:rect x="753" y="419" rx="5" ry="5" width="510" height="2" />
    <svg:rect x="147" y="24" rx="0" ry="0" width="540" height="540" />
    <svg:rect x="12" y="25" rx="0" ry="0" width="104" height="109" />
    <svg:rect x="11" y="165" rx="0" ry="0" width="104" height="109" />
    <svg:rect x="11" y="305" rx="0" ry="0" width="105" height="109" />
    <svg:rect x="753" y="27" rx="0" ry="0" width="160" height="18" />
    <svg:rect x="753" y="63" rx="0" ry="0" width="496" height="32" />
    <svg:rect x="753" y="189" rx="0" ry="0" width="45" height="16" />
    <svg:rect x="753" y="224" rx="0" ry="0" width="80" height="80" />
    <svg:rect x="11" y="451" rx="0" ry="0" width="105" height="109" />
    <svg:rect x="73" y="479" rx="0" ry="0" width="2" height="14" />
    <svg:rect x="753" y="127" rx="20" ry="20" width="101" height="32" />
    <svg:rect x="872" y="128" rx="21" ry="21" width="85" height="32" />
    <svg:rect x="972" y="125" rx="20" ry="20" width="146" height="32" />
    <svg:rect x="1133" y="127" rx="20" ry="20" width="66" height="32" />
    <svg:rect x="828" y="190" rx="0" ry="0" width="175" height="16" />
    <svg:rect x="937" y="194" rx="0" ry="0" width="8" height="8" />
    <svg:rect x="854" y="224" rx="0" ry="0" width="80" height="80" />
    <svg:rect x="954" y="224" rx="0" ry="0" width="80" height="80" />
    <svg:rect x="753" y="309" rx="0" ry="0" width="80" height="5" />
    <svg:rect x="753" y="364" rx="0" ry="0" width="53" height="16" />
    <svg:rect x="828" y="348" rx="25" ry="25" width="432" height="42" />
    <svg:rect x="753" y="459" rx="0" ry="0" width="140" height="32" />
    <svg:rect x="1150" y="521" rx="0" ry="0" width="6" height="4" />
    <svg:rect x="1157" y="496" rx="0" ry="0" width="49" height="5" />
    <svg:rect x="753" y="504" rx="0" ry="0" width="70" height="12" />
    <svg:rect x="753" y="549" rx="25" ry="25" width="435" height="42" />
    <svg:rect x="1101" y="459" rx="25" ry="25" width="48" height="48" />
    <svg:rect x="1213" y="459" rx="25" ry="25" width="48" height="48" />
    <svg:rect x="1172" y="461" rx="0" ry="0" width="16" height="30" />
    <svg:rect x="1212" y="547" rx="25" ry="25" width="48" height="48" />
    <svg:rect x="12" y="627" rx="0" ry="0" width="175" height="18" />
    <svg:circle cx="20" cy="675" r="8" />
    <svg:rect x="40" y="670" rx="0" ry="0" width="331" height="12" />
    <svg:circle cx="20" cy="701" r="8" />
    <svg:rect x="40" y="696" rx="0" ry="0" width="331" height="12" />
    <svg:circle cx="20" cy="727" r="8" />
    <svg:rect x="40" y="722" rx="0" ry="0" width="331" height="12" />
    <svg:circle cx="20" cy="754" r="8" />
    <svg:rect x="40" y="749" rx="0" ry="0" width="331" height="12" />
    <svg:rect x="11" y="800" rx="0" ry="0" width="566" height="12" />
    <svg:rect x="11" y="882" rx="0" ry="0" width="566" height="12" />
    <svg:rect x="11" y="817" rx="0" ry="0" width="566" height="12" />
    <svg:rect x="11" y="838" rx="0" ry="0" width="566" height="12" />
    <svg:rect x="11" y="860" rx="0" ry="0" width="566" height="12" />
    <svg:rect x="895" y="635" rx="0" ry="0" width="175" height="18" />
    <svg:circle cx="903" cy="683" r="8" />
    <svg:rect x="923" y="678" rx="0" ry="0" width="331" height="12" />
    <svg:circle cx="903" cy="709" r="8" />
    <svg:rect x="923" y="704" rx="0" ry="0" width="331" height="12" />
    <svg:circle cx="903" cy="735" r="8" />
    <svg:rect x="923" y="730" rx="0" ry="0" width="331" height="12" />
    <svg:circle cx="903" cy="762" r="8" />
    <svg:rect x="923" y="757" rx="0" ry="0" width="331" height="12" />
</content-loader>
<content-loader [viewBox]="viewBox" [speed]="speed" [backgroundColor]="backgroundColor"
    [foregroundColor]="foregroundColor" *ngIf="svgFile === svgContentLoaderEnum.DetailsSimpleContentLoader">
    <svg:rect x="1%" y="2%" rx="5" ry="5" width="98%" height="7.5%" />
    <svg:rect x="1%" y="12%" rx="5" ry="5" width="98%" height="7.5%" />
    <svg:rect x="1%" y="22%" rx="5" ry="5" width="98%" height="7.5%" />
    <svg:rect x="1%" y="32%" rx="5" ry="5" width="98%" height="7.5%" />
    <svg:rect x="1%" y="42%" rx="5" ry="5" width="98%" height="7.5%" />
    <svg:rect x="1%" y="52%" rx="5" ry="5" width="98%" height="7.5%" />
    <svg:rect x="1%" y="62%" rx="5" ry="5" width="98%" height="7.5%" />
    <svg:rect x="1%" y="72%" rx="5" ry="5" width="98%" height="7.5%" />
    <svg:rect x="1%" y="82%" rx="5" ry="5" width="98%" height="7.5%" />
    <svg:rect x="1%" y="92%" rx="5" ry="5" width="98%" height="7.5%" />
</content-loader>